modules = ["dart-3.10"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip", "which", "cmake", "ninja", "pkg-config", "gtk3", "xorg.libX11"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dart run server/main.dart"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
